# go-backup/.gitignore

# binaries for programs and plugins
*.dll
*.dylib
*.exe
*.exe~
*.so
go-backup

# test binary, built with `go test -c`
*.test

# output of the go coverage tool, specifically when used with LiteIDE
*.out

# dependency directories (remove the comment below to include it)
# vendor/

# macOS files
.DS_Store

# end
